In [33]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [53]:
def splitStringDate(string):
    string = str(string)
    if len(string) == 10:
        ret = pd.to_datetime(f"{string[0:4]}.{string[4:6]}.{string[6:8]}.{string[8:10]}")
    if len(string) == 8:
        ret = pd.to_datetime(f"{string[0:4]}.{string[4:6]}.{string[6:8]}")
    return ret

In [59]:
wetter_df = pd.read_csv("Wetter_Daten_Stündlich.csv",sep=";")
covid_df = pd.read_csv("covid_19-fallzahlen-kanton-stgallen-total.csv",sep=";")
wetter_df["date"] = wetter_df["time"].apply(splitStringDate)

C:\Users\thierry.schwaller\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (2,3,4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [60]:
wetter_st_gallen = wetter_df[wetter_df[]]

,stn,time,rre024i0,rre006i0,tde200hs,fu3010h0,date
0,OBR,2015050506,-,-,-,-,2015-05-05 06:00:00
1,OBR,2015050507,-,-,-,-,2015-05-05 07:00:00
2,OBR,2015050508,-,-,9.9,32,2015-05-05 08:00:00
3,OBR,2015050509,-,-,10.7,28.8,2015-05-05 09:00:00
4,OBR,2015050510,-,-,11.8,26.6,2015-05-05 10:00:00
...,...,...,...,...,...,...,...
146053,STG,2020123119,0.0,0.0,-5.4,9.0,2020-12-31 19:00:00
146054,STG,2020123120,0.0,0.0,-5.8,6.5,2020-12-31 20:00:00
146055,STG,2020123121,0.0,0.0,-6.7,6.8,2020-12-31 21:00:00
146056,STG,2020123122,0.0,0.0,-7.4,3.2,2020-12-31 22:00:00
146057,STG,2020123123,0.0,0.0,-8.6,2.5,2020-12-31 23:00:00